## Ignore backup folder
backup.d/

## Track only useful configurations
conf.d/config/*
!conf.d/config/i3
!conf.d/config/rofi
conf.d/config/i3/images/*

## Ignore sensitive data
conf.d/ssh/authorized_keys
conf.d/ssh/config.d/*
conf.d/ssh/id_*
conf.d/ssh/keys.d/*
conf.d/ssh/known_hosts
conf.d/ssh/socket.d/*

conf.d/vim/.netrwhist
conf.d/vim/backup/*
conf.d/vim/swap/*

## Do not ignore .gitkeep files
!.gitkeep
